form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.inputStyling {
  margin-bottom: 20px;
  width: 100%;
}

h2 {
  font-size: var(--font-size);
}

button {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  border: 0px solid var(--color-water-10);
  width: 5rem;
  height: 2rem;
}
