:root {
  --primary-color: rgb(234, 254, 255);
  --secondary-color: var();
}

body {
  margin: auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 700px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 20px;
  margin-top: 2rem;
  background-image: url("/Bilder/Blauer-Himmel.jpg");
}
